<link rel="stylesheet" href="./css/lienhe.css">
<div class="container py-5 mt-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col">
        <div class="card my-4 shadow-3">
          <div class="row g-0">
            <div class="col-xl-6 d-xl-block bg-image">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15715.510194647082!2d105.7571579!3d10.0269624!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4da67960eb05332d!2zVHLGsOG7nW5nIENhbyDEkOG6s25nIFRo4buxYyBIw6BuaCBGUFQgUG9seXRlY2huaWMgQ-G6p24gVGjGoQ!5e0!3m2!1svi!2s!4v1641904087659!5m2!1svi!2s" width="100%" height="650" allowfullscreen="" loading="lazy"></iframe>
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
                <div class=" justify-content-center align-items-center h-100">
                 <div class="row">
                   <div class="col-6">
                    <div class=" text-center">
                      <i class="fas fa-envelope text-white fa-2x mt-3"></i>
                      <p class="text-white title-style">Email</p>
                      <p class="text-white mb-0"></p>
    
                      <figure class="text-center mb-0">
                        <blockquote class="blockquote text-white">
                          <p class="pb-3">
                            <i class="fas fa-quote-left fa-xs text-primary" style="color: hsl(210, 100%, 50%) ;"></i>
                            <span class="lead font-italic">caodang@fpt.edu.vn</span>
                            <i class="fas fa-quote-right fa-xs text-primary" style="color: hsl(210, 100%, 50%) ;"></i>
                          </p>
                        </blockquote>
    
                      </figure>
                    </div>
                   </div>
                   <div class="col-6">
                    <div class=" text-center">
                      <i class="fas fa-phone text-white fa-2x mt-3"></i>
                      <p class="text-white title-style">Phone</p>
                      <p class="text-white mb-0"></p>
    
                      <figure class="text-center mb-0">
                        <blockquote class="blockquote text-white">
                          <p class="pb-3">
                            <i class="fas fa-quote-left fa-xs text-primary" style="color: hsl(210, 100%, 50%) ;"></i>
                            <span class="lead font-italic">0901759222</span>
                            <i class="fas fa-quote-right fa-xs text-primary" style="color: hsl(210, 100%, 50%) ;"></i>
                          </p>
                        </blockquote>
    
                      </figure>
                    </div>
                   </div>
                 </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-4 text-uppercase">Viết Bình Luận</h3>
  
                  
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1m">Họ và tên</label>
                      <input type="text" id="form3Example1m" class="form-control form-control-lg">
                    </div>
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1n">Email</label>
                      <input type="email" id="form3Example1n" class="form-control form-control-lg">
                    </div>
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1n">Số điện thoại</label>
                      <input type="email" id="form3Example1n" class="form-control form-control-lg">
                    </div>
  
                  <div class="form-outline mb-4">
                    <label for="exampleFormControlTextarea1" class="form-label">Nội Dung</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placehodler="Comment here" rows="3"></textarea>
                    
                  </div>
                
  
                
                <div class="d-flex justify-content-end pt-3">
                  <button type="button" class="btn btn-success btn-lg ms-2" style="background-color:hsl(210, 100%, 50%) ">Gửi</button>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>