  <!-- box section form -->
  <div
  id="carouselExampleCaptions"
  class="carousel slide pt-5 py-5 mt-5 mb-5"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/components/assets/fpoly1.png" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="/components/assets/fpoly2.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="/components/assets/fpoly3.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- box 2 -->
<div class="container border-top svg-url">
  <div class="row">
    <header class="text-center mb-5 pb-5 p-4 footer">
      <h1 class="display-4">Giới Thiệu</h1>
      <p class="font-italic mb-1">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore,
        labore laboriosam! Non obcaecati id illo sequi nam ab, iusto sunt
        iure possimus quibusdam architecto, facere dolorum magnam officiis
        totam velit!
      </p>
    </header>
    <div class="d-flex align-items-start">
      <div class="col-md-3">
        <div
          class="nav flex-column nav-pills me-3 nav-pills-custom"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <button
            class="nav-link mb-3 p-3 shadow active"
            id="v-pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-home"
            type="button"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"
          >
            <span class="font-weight-bold small text-uppercase"
              >Lập trình Android</span
            >
          </button>
          <button
            class="nav-link mb-3 p-3 shadow"
            id="v-pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-profile"
            type="button"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false"
          >
            <span class="font-weight-bold small text-uppercase"
              >Cơ Sở Dữ Liệu</span
            >
          </button>
          <button
            class="nav-link mb-3 p-3 shadow"
            id="v-pills-messages-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-messages"
            type="button"
            role="tab"
            aria-controls="v-pills-messages"
            aria-selected="false"
          >
            <span class="font-weight-bold small text-uppercase"
              >Lập Trình Website</span
            >
          </button>
          <button
            class="nav-link mb-3 p-3 shadow"
            id="v-pills-settings-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-settings"
            type="button"
            role="tab"
            aria-controls="v-pills-settings"
            aria-selected="false"
          >
            <span class="font-weight-bold small text-uppercase"
              >Thiết Kế Đồ Họa</span
            >
          </button>
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div
            class="tab-pane fade rounded bg-white show active p-5 active"
            id="v-pills-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-tab"
          >
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Possimus nostrum eos nobis praesentium alias eveniet
            voluptatibus id. Porro provident sint dolorem illum,
            necessitatibus iure, ratione non magnam rerum minima dicta!
          </div>
          <div
            class="tab-pane fade rounded bg-white show p-5"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Maiores rerum aperiam sint excepturi commodi quibusdam nemo
            accusantium eos temporibus, dolor delectus perferendis accusamus
            ad ipsum quia doloribus esse distinctio nobis.
          </div>
          <div
            class="tab-pane fade rounded bg-white show p-5"
            id="v-pills-messages"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
            blanditiis delectus porro magnam, beatae dolorem incidunt
            expedita et velit eum fugit fuga perferendis nobis
            necessitatibus dolorum debitis amet, excepturi maiores!
          </div>
          <div
            class="tab-pane fade rounded bg-white show p-5"
            id="v-pills-settings"
            role="tabpanel"
            aria-labelledby="v-pills-settings-tab"
          >
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Placeat veritatis, quidem tempore obcaecati excepturi hic eos
            omnis repellat possimus distinctio nisi consequatur autem nam
            minus nesciunt porro pariatur eaque sapiente.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- teacher -->
<div class="container">
  <h2 class="mt-5 pd-4 teacher-text-head">Đội Ngũ Giảng Viên</h2>
  <span class="mb-3"
    >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus nulla
    possimus, dignissimos quam ea facere repudiandae ullam perspiciatis
    corporis, provident quasi deleniti ut pariatur esse corrupti earum dicta
    amet animi.</span
  >
  <div class="row mt-5">
    <div class="col-12 col-md-6 col-lg-4 mb-3">
      <div class="card mx-auto" style="width: 18rem">
        <img src="/components/assets/thaynhan.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Trần Đình Nhân</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up
            the bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
      <div class="card mx-auto" style="width: 18rem">
        <img src="/components/assets/thaythen.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Trần Văn Thện</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up
            the bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
      <div class="card mx-auto" style="width: 18rem">
        <img src="/components/assets/thaythen.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Trần Văn Thện</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up
            the bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cs-bg-white">
  <div class="container mt-10 cs-bg-white">
    <div class="row">
      <div class="col-6 text-last my-auto">
        <h1>Bạn đã sẵn sàng chưa?</h1>
        <br />
        <span
          >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Aspernatur animi velit vero quo, facere debitis dolorum
          consectetur minus ad illo natus perferendis, dolores impedit
          exercitationem atque esse. Voluptates, sed ab.</span
        >
      </div>
      <div class="col-6 text-center text-last">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="201"
          height="335"
          fill="none"
        >
          <g clip-path="url(#clip0)">
            <path
              d="M200.673 89.544v245.083L.328 245.462V.38l71.805 31.956 56.145 24.99 72.395 32.218z"
              fill="#73CAFF"
              stroke="#101737"
              stroke-linejoin="bevel"
            ></path>
            <path
              d="M95.627 170.682l-.079.078-.118-.058a19.81 19.81 0 0 0-1.152-.537c-10.683-4.655-19.977.504-22.1 12.256l-.039.222-.314-.144-.184-.085c-6.608-2.88-12.254.812-12.955 8.407l80.733 35.164c2.541-3.856 3.982-8.891 4.152-14.567.537-17.756-11.134-37.482-26.094-43.983-8.449-3.693-16.414-2.508-21.85 3.247zM200.673 107.653v48.71l-55.163-24.027c.708-7.595 6.354-11.281 12.962-8.407l.177.085.315.151.045-.223c2.123-11.784 11.417-16.911 22.099-12.262.387.17.767.353 1.147.537l.124.065.079-.085c4.63-4.917 11.128-6.495 18.215-4.544zM131.454 75.082c-.17 5.683-1.611 10.717-4.152 14.573L46.569 54.491c.7-7.594 6.347-11.28 12.955-8.406l.184.085.314.144.04-.223c1.414-7.856 6.006-12.727 12.07-13.748l56.145 24.99a46.623 46.623 0 0 1 3.177 17.749zM200.673 246.444v47.244l-49.956-21.756c.708-7.594 6.354-11.28 12.962-8.406l.184.085.314.15.039-.222c2.123-11.785 11.417-16.911 22.099-12.263.387.17.767.354 1.153.537l.118.066.079-.086a16.756 16.756 0 0 1 13.008-5.349z"
              fill="#fff"
              stroke="#101737"
              stroke-linejoin="bevel"
            ></path>
            <path
              d="M200.417 314.77L30.195 237.043V13.933L.4.143.079 0v245.809l.275-.078 200.253 89.125.321.144"
              fill="#101737"
            ></path>
          </g>
          <defs>
            <clipPath id="clip0">
              <path fill="#fff" d="M0 0h201v335H0z"></path>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</div>