<div class="container box">
    <div class="login-form">
     <h1 class="text-form-login">Đăng Kí Miễn Phí</h1>
     <form class="loginForm">
         <div class="mb-3">
           <label for="exampleInputEmail1" class="form-label">Email address</label>
           <input type="email" class="form-control InputProps" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="email">
         </div>
         <div class="mb-3">
           <label for="exampleInputPassword1" class="form-label">Password</label>
           <input type="password" class="form-control InputProps" id="exampleInputPassword1" ng-model="password">
         </div>

         <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password Confirm</label>
            <input type="password" class="form-control InputProps" id="exampleInputPassword1" ng-model="passwordConfirm">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Full Name</label>
            <input type="text" class="form-control InputProps" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="fullname">
          </div>
         
         <button type="submit" class="custom-btn">Đăng kí</button>
     </form>
    </div>
     
   

 </div>